
.navbar {
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
  padding-top: 2.125rem;
}

.navbar-nav .nav-link {
  font-size: 1.15rem;;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #dc3545 !important;
}

.marquee {
  background: #1342f4;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: flex;
  animation: scroll 50s linear infinite;
  width: max-content;
}

.marquee-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-right: 85px;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e9ecef;
  }
  
  .navbar-nav .nav-link {
    padding: 0.75rem 0;
  }
}
