.marquee {
  width: 100%;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #1342f4;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
